<div class= "container">
  <div class= "row">
    <div class= "col-md-6">
      <button type="submit" class="btn btn-outline-dark"><a href="/stylists">All Stylists</a></button>
    </div><br><br><br><br>
    <div class= "col-md-6">
      <button type="submit" class="btn btn-info"><a href="/clients">All Clients</a></button>
    </div>
  </div>
</div>